materials = (
        {
                # material ID, starting at 0
                ID = 0
                name = "Iron"
                
                # no. interaction partner for variable sml
                interactions = 50
                artificial_viscosity = { alpha = 1.0; beta = 2.0; };
                density_floor = 100.
                eos = {
                        type = 1
                        # basic properties
                        shear_modulus = 105e9
                        bulk_modulus = 113.5e9
                        # Tillotson EoS params
                        till_rho_0 = 7.874e3
                        till_A = 128.0e9
                        till_B = 105.0e9
                        till_E_0 = 9.5e6
                        till_E_iv = 2.4e6
                        till_E_cv = 8.67e6
                        till_a = 0.5
                        till_b = 1.5
                        till_alpha = 1.0
                        till_beta = 2.0
                        # additional params
                        rho_limit = 0.9
                        cs_limit = 40.0   # approx. 1% of sqrt(till_A/till_rho_0)
                        # plasticity params
                        # parameters from Bowling et al. (2013): Antipodal terrains created by the Rheasilvia basin forming impact on asteroid 4 Vesta
                        yield_stress = 2.5e+09
                        cohesion = 1.0e+07
                        friction_angle = 1.11 # this is a mu_i = 2.0, with mu_i = tan(friction_angle)
                        cohesion_damaged = 11.0
                        friction_angle_damaged = 0.38 # this is a mu_i = 0.4, with mu_i = tan(friction_angle_damaged)
                        # Murnaghan EoS params
                        n = 5.32
                        rho_0 = 7.874e3
                };
        }
);