materials = ({
     # material ID, starting at 0
        ID = 0
        name = "Basalt"
        # smoothing length
        sml = 1.0
        # no. interactions for variable sml
        interactions = 30
        artificial_viscosity = { alpha = 1.0; beta = 2.0; };
        density_floor = 10.
        eos = {
            type = 1 # Murnaghan EoS
            # basic properties
            shear_modulus = 22.7e9
            bulk_modulus = 26.7e9
            # von mises plasticity params
            yield_stress = 3.5e9
            #friction_angle = 30.0
            #cohesion = 1.0e6
            # Murnaghan EoS params (Melosh, 1989)
            n = 5.5
            rho_0 = 2.86e3
        };
	},
   
     {
        ID = 1
        name = "Regolith"
        sml = 0.0
        interactions = 20;
        artificial_viscosity = { alpha = 1.0; beta = 2.0; };
        eos = {
            type = 4 # Regolith / Bui et al. (2008) model
            n = 4.0
            rho_0 = 1.5e3
            rho_limit = 1.0
            # bulk and shear moduli as used in Schäfer er al. (2017): Numerical simulations of regolith sampling processes
            bulk_modulus = 3.33e6
            shear_modulus = 0.37e6
            # Drucker-Prager plasticity params
            friction_angle = 0.523599
            cohesion = 100.0
            yield_stress = 3.0e12
        };
    }
);