materials = (
    {
        ID = 0
        name = "Basalt"
        interactions = 50
        artificial_viscosity = { alpha = 1.0; beta = 2.0; };
        density_floor = 100.
        eos =
        {
            type = 1
            # basic params
            shear_modulus = 22.7e9
            bulk_modulus = 26.7e9
            # Murnaghan Eos params (Melosh, 1989)
            n = 5.5
            rho_0 = 2.86e3
        };
    }
);
