materials = (
        {
                # material ID, starting at 0
                ID = 0
                name = "Basalt"
                # smoothing length
                factor_sml_min = 0.8
                factor_sml_max = 1.2
                # no. interactions for variable sml
                interactions = 20
                artificial_viscosity = { alpha = 1.0; beta = 2.0; };
                density_floor = 10.
                eos = {
                        type = 2
                        # basic properties
                        shear_modulus = 22.7e9
                        bulk_modulus = 26.7e9
                        # Tillotson EoS params
                        # Tillotson EoS parameters (Benz, 1999)
                        till_rho_0 = 2.86e3
                        till_A = 26.7e9
                        till_B = 26.7e9
                        till_E_0 = 487.0e6
                        till_E_iv = 4.72e6
                        till_E_cv = 18.2e6
                        till_a = 0.5
                        till_b = 1.5
                        till_alpha = 5.0
                        till_beta = 5.0
                        # additional parameters
                        rho_limit = 0.9
                        cs_limit = 30.0   # approx. 1% of sqrt(till_A/till_rho_0)
                        # plasticity params
                        yield_stress = 3.5e9
                        cohesion = 1.0e6
                        melt_energy = 3.4e6
                        # Murnaghan EoS params (Melosh, 1989)
                        n = 5.5
                        rho_0 = 2.86e3
                };
        },
        {
                # material ID, starting at 0
                ID = 1
                name = "Iron"
                # smoothing length
                sml = 0.126
                # no. interaction partner for variable sml
                interactions = 30
                artificial_viscosity = { alpha = 1.0; beta = 2.0; };
                density_floor = 100.
                eos = {
                        type = 2
                        # basic properties
                        shear_modulus = 105e9
                        bulk_modulus = 113.5e9
                        # Tillotson EoS params
                        till_rho_0 = 7.874e3
                        till_A = 128.0e9
                        till_B = 105.0e9
                        till_E_0 = 9.5e6
                        till_E_iv = 2.4e6
                        till_E_cv = 8.67e6
                        till_a = 0.5
                        till_b = 1.5
                        till_alpha = 5.0
                        till_beta = 5.0
                        # additional params
                        rho_limit = 0.9
                        cs_limit = 40.0   # approx. 1% of sqrt(till_A/till_rho_0)
                        # plasticity params
                        # parameters from Bowling et al. (2013): Antipodal terrains created by the Rheasilvia basin forming impact on asteroid 4 Vesta
                        yield_stress = 2.5e+09
                        cohesion = 1.0e+07
                        friction_angle = 1.11 # this is a mu_i = 2.0, with mu_i = tan(friction_angle)
                        cohesion_damaged = 11.0
                        friction_angle_damaged = 0.38 # this is a mu_i = 0.4, with mu_i = tan(friction_angle_damaged)
                        # Murnaghan EoS params
                        n = 5.32
                        rho_0 = 7.874e3
                };
        }
);